<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ogr_csharp" publicKeyToken="DB5A52B08DC5B321" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.5718.4565" newVersion="1.0.5718.4565"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="gdal_csharp" publicKeyToken="DB5A52B08DC5B321" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.5718.4565" newVersion="1.0.5718.4565"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="osr_csharp" publicKeyToken="DB5A52B08DC5B321" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.5718.4565" newVersion="1.0.5718.4565"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
